<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="io.github.droidkaigi.confsched2020.preference"
    >

    <dist:module
        dist:instant="false"
        dist:title="@string/setting_label"
        >
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>
