// Generated using xcconfig-extractor 0.6.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
IPHONEOS_DEPLOYMENT_TARGET = 13.2
TARGETED_DEVICE_FAMILY = 1,2
SDKROOT = iphoneos
PRODUCT_BUNDLE_IDENTIFIER = io.github.droidkaigi.confsched2020.DroidKaigi2020
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_UNUSED_VARIABLE = YES
COPY_PHASE_STRIP = NO
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
PRODUCT_NAME = $(TARGET_NAME)
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_CXX_LIBRARY = libc++
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_MODULES = YES
GCC_WARN_UNUSED_FUNCTION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
SWIFT_VERSION = 5.0
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_EMPTY_BODY = YES
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_WARN_INT_CONVERSION = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_NO_COMMON_BLOCKS = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
ENABLE_STRICT_OBJC_MSGSEND = YES

