// Generated using xcconfig-extractor 0.6.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
#include "DroidKaigi 2020.xcconfig"
#include "Pods/Target Support Files/Pods-DroidKaigi 2020/Pods-DroidKaigi 2020.release.xcconfig"
KN_LIBRARY_BUILD_TASK[sdk=iphonesimulator*] = linkIosX64
KN_LIBRARY_BUILD_TASK[sdk=iphoneos*] = linkIosArm64
KN_LIBRARY_BUILD_PATH[sdk=iphonesimulator*] = $SRCROOT/../ioscombined/build/bin/iosX64/releaseFramework/ioscombined.framework
KN_LIBRARY_BUILD_PATH[sdk=iphoneos*] = $SRCROOT/../ioscombined/build/bin/iosArm64/releaseFramework/ioscombined.framework
